global:
  scrape_interval: 15s
  evaluation_interval: 15s

rule_files:
  - alerts-rules.yml

alerting:
  alertmanagers:
  - static_configs:
    - targets: ['172.20.107.90:9093']

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:9090']

  - job_name: 'node_exporter'
    static_configs:
      - targets: ['172.20.107.90:9100', '172.20.107.91:9101', '172.20.107.92:9102']

  - job_name: 'cadvisor'
    static_configs:
      - targets: ['172.20.107.90:8090', '172.20.107.91:8090', '172.20.107.92:8090']

  - job_name: 'grafana'
    static_configs:
      - targets: ['172.20.107.90:3000']
